<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false" scan="false">
    <property resource="application.properties" />
    <property name="LOG_FILE_NAME" value="logs/sportsda"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %5level [%thread] %X{mdcId} | %-28.46logger | %method:%line | %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_NAME}_%d{yyyy-MM-dd}_%i.log.zip</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>180</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date %5level [%thread] %X{mdcId} | %-28.46logger | %method:%line | %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.laan" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>